name: Build LOTRO Voice 2.0 (Manually)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
        # WICHTIG: mss für Screenshots hinzugefügt
        pip install requests pygame pytesseract Pillow keyboard opencv-python numpy mss

    - name: Build with PyInstaller
      run: |
        cd V2
        pyinstaller --noconsole --onedir --name "LOTRO_Voice_2" main.py

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: LOTRO_Voice_2_Windows
        path: V2/dist/LOTRO_Voice_2
